<ul class="lista-distritos clearfix">
    <li>
        <div class="content-img">
            <img src="assets/img/img-02.jpg" alt="Distritos Escoteiros">
        </div>
        <div class="content-infos">
            <div class="content">
                <strong>1º Distrito Escoteiro</strong>
                <b>Cidade(s) de abrangência:</b>

                <p>Porto Alegre</p>
            </div>
        </div>
    </li>

    <li>
        <div class="content-img">
            <img src="assets/img/img-02.jpg" alt="Distritos Escoteiros">
        </div>
        <div class="content-infos">
            <div class="content">
                <strong>1º Distrito Escoteiro</strong>
                <b>Cidade(s) de abrangência:</b>

                <p>Porto Alegre</p>
            </div>
        </div>
    </li>

    <li>
        <div class="content-img">
            <img src="assets/img/img-02.jpg" alt="Distritos Escoteiros">
        </div>
        <div class="content-infos">
            <div class="content">
                <strong>2º Distrito Escoteiro</strong>
                <b>Cidade(s) de abrangência:</b>

                <p>Porto Alegre</p>
            </div>
        </div>
    </li>

    <li>
        <div class="content-img">
            <img src="assets/img/img-3.jpg" alt="Distritos Escoteiros">
        </div>
        <div class="content-infos">
            <div class="content">
                <strong>5º Distrito Escoteiro</strong>
                <b>Cidade(s) de abrangência:</b>

                <p>Anta Gorda, Arroio Do Meio, Arvorezinha, Barros Cassal, Bom Retiro Do Sul, Boqueirão Do Leão,
                    Brochier, Canudos Do Vale, Capela De Santana, Capitão, Charqueadas, Colinas, Coqueiro Baixo,
                    Cruzeiro Do Sul, Doutor Ricardo, Encantado, Estrela, Fazenda Vila Nova, Fontoura Xavier,
                    Forquetinha, General Câmara, Harmonia, Ilópolis, Lajeado, Maratá, Marques De Souza, Mato Leitão,
                    Montenegro, Nova Bréscia, Paverama, Poço Das Antas, Pouso Novo, Progresso, Putinga, Resvalo, Roca
                    Sales, Santa Clara Do Sul, São Jerônimo, São José Do Herval, São José Do Sul, Sério, Tabai, Taquari,
                    Teutônia, Travesseiro, Triunfo, Tupandi, Westfalia</p>
            </div>
        </div>
    </li>
</ul>