{% extends 'institution/home.html' %}


{% block extra_head_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}institution/css/mapa-site.css">
{% endblock extra_head_css %}

{% block content_main %}
    <div class="center">
    {% include 'institution/head_social.html' %}

    <div class="box-main">
    <strong class="tt-mapa">
        Mapa do Site
        <span class="titles-bgs ir">Mapa do Site</span>
    </strong>

    <div class="box-mapa">
    <div class="content clearfix">
    <div class="quero-ser-escoteiro">
        <strong class="tt-secao">Quero Ser Escoteiro</strong>

        <b class="tt-home"><a href="javascript:void(0);" title="Home">01.Home</a></b>

        <b>02. O que fazemos</b>
        <ul>
            <li>
                <a href="javascript:void(0);" title="Diversão e Aventura">Diversão e Aventura</a>
            </li>

            <li>
                <a href="javascript:void(0);" title="Condecorações e Distintivos">Condecorações e Distintivos</a>
            </li>

            <li>
                <a href="javascript:void(0);" title="Capacitação de Voluntáriosa">Capacitação de Voluntários</a>
            </li>

            <li>
                <a href="javascript:void(0);" title="Comunicação">Comunicação</a>
            </li>

            <li>
                <a href="javascript:void(0);" title="Faixas Etárias">Faixas Etárias</a>
            </li>

            <li>
                <a href="javascript:void(0);" title="Proteção à Criança">Proteção à Criança</a>
            </li>

            <li>
                <a href="javascript:void(0);" title="Quando custa">Quando custa</a>
            </li>

            <li>
                <a href="javascript:void(0);" title="Dúvidas Frequentes">Dúvidas Frequentes</a>
            </li>

            <li>
                <a href="javascript:void(0);" title="Captação de Recursos">Captação de Recursos</a>
            </li>

            <li>
                <a href="javascript:void(0);" title="Torne-se um parceiros">Torne-se um parceiro</a>
            </li>

            <li>
                <a href="javascript:void(0);" title="Seguro">Seguro</a>
            </li>
        </ul>

        <b>03. Faça Parte</b>
        <ul>
            <li>
                <a href="javascript:void(0);" title="Jovens">Jovens</a>
            </li>

            <li>
                <a href="javascript:void(0);" title="Pais">Pais</a>
            </li>

            <li>
                <a href="javascript:void(0);" title="Voluntários">Voluntários</a>
            </li>

            <li>
                <a href="javascript:void(0);" title="Encontre um Grupo Escoteiro">Encontre um Grupo Escoteiro</a>
            </li>

            <li>
                <a href="javascript:void(0);" title="Abra um Grupo Escoteiro">Abra um Grupo Escoteiro</a>
            </li>
        </ul>
        <b class="tt-noticia"><a href="javascript:void(0);" title="Lorem Ipsium">04. Notícias</a></b>
        <b class="tt-fotos"><a href="javascript:void(0);" title="Lorem Ipsium">05. Fotos</a></b>
        <b class="tt-loja"><a href="javascript:void(0);" title="Lorem Ipsium">06. Loja Escoteira</a></b>
        <b class="tt-contato"><a href="javascript:void(0);" title="Lorem Ipsium">07. Contato</a></b>
        <b class="tt-doacoes"><a href="javascript:void(0);" title="Lorem Ipsium">08. Doações</a></b>
    </div>

    <div class="institucional">
        <strong class="tt-secao">Institucional</strong>

        <b class="tt-home"><a href="javascript:void(0);" title="Home">01.Home</a></b>
        <b class="tt-escotismo"><a href="javascript:void(0);" title="Escotismo">02. Escotismo</a></b>
        <b class="tt-transparencia"><a href="javascript:void(0);" title="Transparência">03. Transparência</a></b>

        <b>04. Institucional</b>
        <ul>
            <li>
                <a href="javascript:void(0);" title="Jovens">Jovens</a>
            </li>

            <li>
                <a href="javascript:void(0);" title="Escotismo">Escotismo</a>
            </li>

            <li>
                <a href="javascript:void(0);" title="Apresentação">Apresentação</a>
            </li>

            <li>
                <a href="javascript:void(0);" title="Missão, Visão e Valores">Missão, Visão e Valores</a>
            </li>

            <li>
                <a href="javascript:void(0);" title="Diretoria Regional">Diretoria Regional</a>
            </li>

            <li>
                <a href="javascript:void(0);" title="Comissão Fiscal Regional">Comissão Fiscal Regional</a>
            </li>

            <li>
                <a href="javascript:void(0);" title="Comissão de Ética e Disciplina">Comissão de Ética e Disciplina</a>
            </li>

            <li>
                <a href="javascript:void(0);" title="Coordenadores Regionais">Coordenadores Regionais</a>
            </li>

            <li>
                <a href="javascript:void(0);" title="Equipe Regional de Condecorações e Homenagens">Equipe Regional de
                    Condecorações e Homenagens</a>
            </li>

            <li>
                <a href="javascript:void(0);" title="Equipe Regional de Formação">Equipe Regional de Formação</a>
            </li>

            <li>
                <a href="javascript:void(0);" title="Equipe Regional de Imagem e Comunicação">Equipe Regional de Imagem
                    e Comunicação</a>
            </li>

            <li>
                <a href="javascript:void(0);" title="Equipe Regional de Método Educativo">Equipe Regional de Método
                    Educativo</a>
            </li>

            <li>
                <a href="javascript:void(0);" title="Equipe Regional Pioneira">Equipe Regional Pioneira</a>
            </li>

            <li>
                <a href="javascript:void(0);" title="Núcleo Regional da Rede de Jovens">Núcleo Regional da Rede de
                    Jovens</a>
            </li>

            <li>
                <a href="javascript:void(0);" title="Comissários Distritais">Comissários Distritais</a>
            </li>

            <li>
                <a href="javascript:void(0);" title="Distritos Escoteiros">Distritos Escoteiros</a>
            </li>

            <li>
                <a href="javascript:void(0);" title="Equipe do Escritório">Equipe do Escritório</a>
            </li>

            <li>
                <a href="javascript:void(0);" title="Campo Escola">Campo Escola</a>
            </li>
        </ul>

        <b class="tt-parceiros"><a href="javascript:void(0);" title="Parceiros">05. Parceiros</a></b>
    </div>

    <div class="sou-escoteiro">
    <strong class="tt-secao">Sou Escoteiro</strong>
    <b class="tt-home"><a href="javascript:void(0);" title="Home">01.Home</a></b>

    <b>02. Lobinhos (6,5 a 10 anos)</b>
    <ul class="lista-lobinhos">
        <li>
            <a href="javascript:void(0);" title="Progressão">Progressão</a>
        </li>

        <li class="back-space">
            <a href="javascript:void(0);" title="Estágio Probatório">Estágio Probatório</a>
        </li>

        <li class="back-space">
            <a href="javascript:void(0);" title="Caminho X">Caminho X</a>
        </li>

        <li class="back-space">
            <a href="javascript:void(0);" title="Caminho P">Caminho P</a>
        </li>

        <li class="back-space">
            <a href="javascript:void(0);" title="Caminho T">Caminho T</a>
        </li>

        <li class="back-space">
            <a href="javascript:void(0);" title="Caminho O">Caminho O</a>
        </li>

        <li>
            <a href="javascript:void(0);" title="Especialidades">Especialidades</a>
        </li>

        <li>
            <a href="javascript:void(0);" title="Cruzeiro do Sul">Cruzeiro do Sul</a>
        </li>

        <li class="back-space">
            <a href="javascript:void(0);" title="Como conquistar">Como conquistar</a>
        </li>

        <li class="back-space">
            <a href="javascript:void(0);" title="Quem já conquistou">Quem já conquistou</a>
        </li>

        <li>
            <a href="javascript:void(0);" title="O Livro da Selva">O Livro da Selva</a>
        </li>

        <li>
            <a href="javascript:void(0);" title="Técnicas">Técnicas</a>
        </li>

        <li>
            <a href="javascript:void(0);" title="Jogos">Jogos</a>
        </li>

        <li>
            <a href="javascript:void(0);" title="Canções">Canções</a>
        </li>

        <li>
            <a href="javascript:void(0);" title="Calendário">Calendário</a>
        </li>

        <li>
            <a href="javascript:void(0);" title="Downloads">Downloads</a>
        </li>
    </ul>

    <b>03. Escoteiros (11 a 14 anos)</b>
    <ul class="lista-escoteiros">
        <li>
            <a href="javascript:void(0);" title="Progressão">Progressão</a>
        </li>

        <li class="back-space">
            <a href="javascript:void(0);" title="Estágio Probatório">Estágio Probatório</a>
        </li>

        <li class="back-space">
            <a href="javascript:void(0);" title="Pista">Pista</a>
        </li>

        <li class="back-space">
            <a href="javascript:void(0);" title="Trilha">Trilha</a>
        </li>

        <li class="back-space">
            <a href="javascript:void(0);" title="Rumo">Rumo</a>
        </li>

        <li class="back-space">
            <a href="javascript:void(0);" title="Travessia">Travessia</a>
        </li>

        <li>
            <a href="javascript:void(0);" title="Especialidades">Especialidades</a>
        </li>

        <li>
            <a href="javascript:void(0);" title="Lis de Ouro">Lis de Ouro</a>
        </li>

        <li class="back-space">
            <a href="javascript:void(0);" title="Como conquistar">Como conquistar</a>
        </li>

        <li class="back-space">
            <a href="javascript:void(0);" title="Quem já conquistou">Quem já conquistou</a>
        </li>

        <li>
            <a href="javascript:void(0);" title="Histórias">Histórias</a>
        </li>

        <li>
            <a href="javascript:void(0);" title="Projetos">Projetos</a>
        </li>

        <li>
            <a href="javascript:void(0);" title="Técnicas">Técnicas</a>
        </li>

        <li>
            <a href="javascript:void(0);" title="Modalidades">Modalidades</a>
        </li>

        <li>
            <a href="javascript:void(0);" title="Jogos">Jogos</a>
        </li>

        <li>
            <a href="javascript:void(0);" title="Canções">Canções</a>
        </li>

        <li>
            <a href="javascript:void(0);" title="Calendário">Calendário</a>
        </li>

        <li>
            <a href="javascript:void(0);" title="Downloads">Downloads</a>
        </li>
    </ul>

    <b>04. Seniores (15 a 17 anos)</b>
    <ul class="lista-seniores">
        <li>
            <a href="javascript:void(0);" title="Progressão">Progressão</a>
        </li>

        <li class="back-space">
            <a href="javascript:void(0);" title="Estágio Probatório">Estágio Probatório</a>
        </li>

        <li class="back-space">
            <a href="javascript:void(0);" title="Progressão X">Progressão X</a>
        </li>

        <li class="back-space">
            <a href="javascript:void(0);" title="Progressão Y">Progressão Y</a>
        </li>

        <li class="back-space">
            <a href="javascript:void(0);" title="Progressão Z">Progressão Z</a>
        </li>

        <li class="back-space">
            <a href="javascript:void(0);" title="Travessia">Travessia</a>
        </li>

        <li>
            <a href="javascript:void(0);" title="Especialidades">Especialidades</a>
        </li>

        <li>
            <a href="javascript:void(0);" title="Escoteiro da Pátria">Escoteiro da Pátria</a>
        </li>

        <li class="back-space">
            <a href="javascript:void(0);" title="Como conquistar">Como conquistar</a>
        </li>

        <li class="back-space">
            <a href="javascript:void(0);" title="Quem já conquistou">Quem já conquistou</a>
        </li>

        <li>
            <a href="javascript:void(0);" title="Histórias">Histórias</a>
        </li>

        <li>
            <a href="javascript:void(0);" title="Projetos">Projetos</a>
        </li>

        <li>
            <a href="javascript:void(0);" title="Técnicas">Técnicas</a>
        </li>

        <li>
            <a href="javascript:void(0);" title="Modalidades">Modalidades</a>
        </li>

        <li>
            <a href="javascript:void(0);" title="Jogos">Jogos</a>
        </li>

        <li>
            <a href="javascript:void(0);" title="Canções">Canções</a>
        </li>

        <li>
            <a href="javascript:void(0);" title="Calendário">Calendário</a>
        </li>

        <li>
            <a href="javascript:void(0);" title="Downloads">Downloads</a>
        </li>
    </ul>

    <div class="box-lado-right">
        <div class="box-pioneiros">
            <b>05. Pioneiros (18 a 21 anos)</b>
            <ul class="lista-pioneiros">
                <li>
                    <a href="javascript:void(0);" title="Progressão">Progressão</a>
                </li>

                <li class="back-space">
                    <a href="javascript:void(0);" title="Estágio Probatório">Estágio Probatório</a>
                </li>

                <li class="back-space">
                    <a href="javascript:void(0);" title="Progressão X">Progressão X</a>
                </li>

                <li class="back-space">
                    <a href="javascript:void(0);" title="Progressão Y">Progressão Y</a>
                </li>

                <li class="back-space">
                    <a href="javascript:void(0);" title="Progressão Z">Progressão Z</a>
                </li>

                <li class="back-space">
                    <a href="javascript:void(0);" title="Travessia">Travessia</a>
                </li>

                <li>
                    <a href="javascript:void(0);" title="Escoteiro da Pátria">Insígnia de BP</a>
                </li>

                <li class="back-space">
                    <a href="javascript:void(0);" title="Como conquistar">Como conquistar</a>
                </li>

                <li class="back-space">
                    <a href="javascript:void(0);" title="Quem já conquistou">Quem já conquistou</a>
                </li>

                <li>
                    <a href="javascript:void(0);" title="Histórias">Histórias</a>
                </li>

                <li>
                    <a href="javascript:void(0);" title="Projetos">Projetos</a>
                </li>

                <li>
                    <a href="javascript:void(0);" title="Técnicas">Técnicas</a>
                </li>

                <li>
                    <a href="javascript:void(0);" title="Modalidades">Modalidades</a>
                </li>

                <li>
                    <a href="javascript:void(0);" title="Jogos">Jogos</a>
                </li>

                <li>
                    <a href="javascript:void(0);" title="Canções">Canções</a>
                </li>

                <li>
                    <a href="javascript:void(0);" title="Calendário">Calendário</a>
                </li>

                <li>
                    <a href="javascript:void(0);" title="Downloads">Downloads</a>
                </li>
            </ul>
        </div>

        <div class="box-voluntarios">
            <b>06. Voluntários</b>
            <ul class="lista-voluntarios">
                <li>
                    <a href="javascript:void(0);" title="Cursos">Cursos</a>
                </li>

                <li class="back-space">
                    <a href="javascript:void(0);" title="Módulos">Módulos</a>
                </li>

                <li class="back-space">
                    <a href="javascript:void(0);" title="Curso Preliminar">Curso Preliminar</a>
                </li>

                <li class="back-space">
                    <a href="javascript:void(0);" title="Curso Básico">Curso Básico</a>
                </li>

                <li class="back-space">
                    <a href="javascript:void(0);" title="Curso Avançado">Curso Avançado</a>
                </li>

                <li>
                    <a href="javascript:void(0);" title="Insígnia da Madeira">Insígnia da Madeira</a>
                </li>

                <li class="back-space">
                    <a href="javascript:void(0);" title="Como conquistar">Como conquistar</a>
                </li>

                <li class="back-space">
                    <a href="javascript:void(0);" title="Quem já conquistou">Quem já conquistou</a>
                </li>

                <li>
                    <a href="javascript:void(0);" title="Histórias">Histórias</a>
                </li>

                <li>
                    <a href="javascript:void(0);" title="Técnicas">Técnicas</a>
                </li>

                <li>
                    <a href="javascript:void(0);" title="Jogos">Jogos</a>
                </li>

                <li>
                    <a href="javascript:void(0);" title="Canções">Canções</a>
                </li>

                <li>
                    <a href="javascript:void(0);" title="Calendário">Calendário</a>
                </li>

                <li>
                    <a href="javascript:void(0);" title="Downloads">Downloads</a>
                </li>
                <li>
                    <a href="javascript:void(0);" title="Registros">Registros</a>
                </li>
            </ul>
        </div>

        <div class="box-dirigentes">
            <b>07. Dirigentes</b>
            <ul class="lista-dirigentes last">
                <li>
                    <a href="javascript:void(0);" title="Cursos">Cursos</a>
                </li>

                <li class="back-space">
                    <a href="javascript:void(0);" title="Módulos">Módulos</a>
                </li>

                <li class="back-space">
                    <a href="javascript:void(0);" title="Curso Preliminar">Curso Preliminar</a>
                </li>

                <li class="back-space">
                    <a href="javascript:void(0);" title="Curso Básico">Curso Básico</a>
                </li>

                <li class="back-space">
                    <a href="javascript:void(0);" title="Curso Avançado">Curso Avançado</a>
                </li>

                <li>
                    <a href="javascript:void(0);" title="Insígnia da Madeira">Insígnia da Madeira</a>
                </li>

                <li class="back-space">
                    <a href="javascript:void(0);" title="Como conquistar">Como conquistar</a>
                </li>

                <li class="back-space">
                    <a href="javascript:void(0);" title="Quem já conquistou">Quem já conquistou</a>
                </li>

                <li>
                    <a href="javascript:void(0);" title="Projetos">Projetos</a>
                </li>

                <li>
                    <a href="javascript:void(0);" title="Calendário">Calendário</a>
                </li>

                <li>
                    <a href="javascript:void(0);" title="Downloads">Downloads</a>
                </li>

                <li>
                    <a href="javascript:void(0);" title="Registros">Registros</a>
                </li>
            </ul>
        </div>
    </div>

    </div>
    </div>
    </div>

    </div>
    </div>
{% endblock content_main %}

{% block end_scripts %}
    <script src="{{ STATIC_URL }}institution/js/mapa-site.js"></script>
{% endblock end_scripts %}
