<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="pt-BR" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="pt-BR" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="pt-BR" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="pt-BR" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Escoteiros do Brasil - Rio Grande do Sul</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="robots" content="all">
        <meta name="rating" content="general">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

        <meta name="author" content="">
        <meta name="Publisher" content="">
        <meta name="owner" content="">
        <meta name="copyright" content="">

        <!-- Icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/img/touch/apple-touch-icon-144x144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/img/touch/apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/img/touch/apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/img/touch/apple-touch-icon-57x57-precomposed.png">
        <link rel="shortcut icon" href="favicon.ico">

        <link rel="dns-prefetch" href="//ajax.googleapis.com">

        <meta name="msapplication-TileImage" content="assets/img/touch/apple-touch-icon-144x144-precomposed.png">
        <meta name="msapplication-TileColor" content="#222222">

        <!-- iOS Web Apps -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" conte       nt="">

        <!-- Facebook -->
        <meta property="og:title" content="">
        <meta property="og:site_name" content="">
        <meta property="og:url" content="">
        <meta property="og:image" content="">
        <meta property="og:type" content="site">
        <meta property="og:description" content="">

        <link rel="canonical" href="">

        <link rel="stylesheet" href="assets/css/noticias.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery.js"><\/script>')</script>
        <script src="assets/js/vendor/jquery.queryloader2.min.js"></script>
        <script src="assets/js/vendor/modernizr.js"></script>
    </head>

    <body class="branch-escoteiro">
        <div id="loader-bg">
            <div id="loader-canvas">
                <div class="loading"></div>
            </div>
            <span id="loader-percent"></span>
        </div>

        <!--[if lt IE 10]>
            <p class="browsehappy">Você está usando um navegador <strong>desatualizado</strong>. Por favor, <a href="http://browsehappy.com/">atualize seu navegador</a> para uma melhor experiência.</p>
        <![endif]-->

        <header id="header" role="banner">
    <ul class="nav-sections clearfix">
        <li class="wanna-be"><a href="javascript:void(0);">Quero ser Escoteiro<span class="blt"></span></a></li>
        <li class="institutional"><a href="javascript:void(0);">Institucional<span class="blt"></span></a></li>
        <li class="selected"><a href="javascript:void(0);">Sou Escoteiro<span class="blt"></span></a></li>
    </ul>
    <nav class="menu" role="navegation">
        <h1 class="logo">
            <a href="" class="ir">Escoteiros do Brasil - Rio Grande do Sul</a>
        </h1>
        <button class="btn-menu"><span></span></button>
        <ul class="clearfix main-menu">
            <li><a href="lobinhos.html" class="lobinho">Lobinhos</a></li>
            <li><a href="escoteiros.html" class="escoteiro">Escoteiros</a></li>
            <li><a href="seniores.html" class="senior">Seniores</a></li>
            <li><a href="pioneiros.html" class="pioneiro">Pioneiros</a></li>
            <li><a href="javascript:void(0);" class="noticias">Notícias</a></li>
        </ul>
    </nav>
</header>



<main id="main" role="main" class="news-page">

    <div class="inner-banner">
    <img src="http://placehold.it/1920x300" alt="Banner">
</div>


    <div class="center">

        <div class="migalha clearfix">
            <ul class="section">
                <li>
                    <a href="#">Home</a>
                </li>
                <li class="selected">
                    <a>Notícias</a>
                </li>
            </ul>
        </div>

        <h2>Notícias <span class="titles-bgs"></span></h2>

        <p class="call">
            Saiba das novidades mais recentes do Movimento Escoteiro no Rio Grande do Sul e no Brasil.
        </p>

        <form action="" class="search clearfix">
            <input type="text" name="txtSearch" class="watermark" title="Busca por palavra-chave">
            <input type="submit" name="submitsearch" class="btn ir">
        </form>

        <div class="other-news">

            <ul class="list-news clearfix">

                <li>
                    <a href="javascript:void(0);">
                        <img src="http://placehold.it/460x260" alt="Notícias">
                    </a>
                    <div class="text">
                        <div class="aux">
                            <span>02/10/2014</span>
                            <p>
                                Últimos avisos sobre o Congresso Escoteiro Regional
                            </p>
                        </div>
                    </div>
                    <a href="noticias-detalhe-escoteiros.html" class="detail btn-style"><span>Ver datalhe da notícia</span><i class="arrow btn"></i></a>
                </li>

                <li class="last">
                    <a href="javascript:void(0);">
                        <img src="http://placehold.it/460x260" alt="Notícias">
                    </a>
                    <div class="text">
                        <div class="aux">
                            <span>05/10/2014</span>
                            <p>
                                Lorem ipsum dolor sit amet.
                            </p>
                        </div>
                    </div>
                    <a href="noticias-detalhe-escoteiros.html" class="detail btn-style"><span>Ver datalhe da notícia</span><i class="arrow btn"></i></a>
                </li>

                <li>
                    <a href="javascript:void(0);">
                        <img src="http://placehold.it/460x260" alt="Notícias">
                    </a>
                    <div class="text">
                        <div class="aux">
                            <span>02/10/2014</span>
                            <p>
                                Últimos avisos sobre o Congresso Escoteiro Regional
                            </p>
                        </div>
                    </div>
                    <a href="noticias-detalhe-escoteiros.html" class="detail btn-style"><span>Ver datalhe da notícia</span><i class="arrow btn"></i></a>
                </li>

                <li class="last">
                    <a href="javascript:void(0);">
                        <img src="http://placehold.it/460x260" alt="Notícias">
                    </a>
                    <div class="text">
                        <div class="aux">
                            <span>05/10/2014</span>
                            <p>
                                Lorem ipsum dolor sit amet.
                            </p>
                        </div>
                    </div>
                    <a href="noticias-detalhe-escoteiros.html" class="detail btn-style"><span>Ver datalhe da notícia</span><i class="arrow btn"></i></a>
                </li>

                <li>
                    <a href="javascript:void(0);">
                        <img src="http://placehold.it/460x260" alt="Notícias">
                    </a>
                    <div class="text">
                        <div class="aux">
                            <span>02/10/2014</span>
                            <p>
                                Últimos avisos sobre o Congresso Escoteiro Regional
                            </p>
                        </div>
                    </div>
                    <a href="noticias-detalhe-escoteiros.html" class="detail btn-style"><span>Ver datalhe da notícia</span><i class="arrow btn"></i></a>
                </li>

                <li class="last">
                    <a href="javascript:void(0);">
                        <img src="http://placehold.it/460x260" alt="Notícias">
                    </a>
                    <div class="text">
                        <div class="aux">
                            <span>05/10/2014</span>
                            <p>
                                Lorem ipsum dolor sit amet.
                            </p>
                        </div>
                    </div>
                    <a href="noticias-detalhe-escoteiros.html" class="detail btn-style"><span>Ver datalhe da notícia</span><i class="arrow btn"></i></a>
                </li>

            </ul>

            <a href="noticias-ajax.html" class="btn-load-more btn-style"><span>Carregar mais notícias</span><i class="btn"></i></a>

        </div>

    </div>

</main>



        <footer id="footer" role="contentinfo">
    <div class="center clearfix">
        <div class="infos">
            <ul class="midias clearfix">
                <li><a href="javascript:void(0);" class="facebook ir btn">Facebook</a></li>
                <li><a href="javascript:void(0);" class="twitter ir btn">Twitter</a></li>
                <li><a href="javascript:void(0);" class="youtube ir btn">YouTube</a></li>
            </ul>
            <strong class="union">União dos Escoteiros do Brasil<br> Rio Grande do Sul</strong>
            <p class="location"><span></span>Rua Castro Alves, 398<br> Bairro Rio Branco - Porto Alegre</p>
            <a href="tel:+555132693963" class="phone"><span class="btn"></span>(51) 3330-9784</a>
        </div>
        <div class="fundation">
            <a href="javascript:void(0);" class="map-site">Ver Mapa Completo do Site</a>
            <div class="logos">
                <a href="javascript:void(0);" class="brand br ir">Escoteiros do Brasil</a>
                <a href="javascript:void(0);" class="brand ir">Scouts</a>
            </div>
        </div>
    </div>
    <div class="developer">
        <a href="http://www.maqina.com.br" title="Desenvolvido por Máqina Internet" target="_blank" class="maqina ir">Máqina Internet</a>
    </div>
</footer>


        <script src="assets/js/vendor/plugins.min.js"></script>
        <script src="assets/js/_basico.js"></script>
        <script src="assets/js/noticias.js"></script>
    </body>
</html>
