@media screen and (min-width: em(320px)),
screen and (max-width: em(320px)) {
	
	main {
		height: auto;
		padding: 318px 0 50px 0;
		background: url('../img/img-titulo-secao.jpg') no-repeat top center;
	}

}