{% extends 'events/event_base.html' %}
{% load i18n bootstrap3 rover_core %}

{% block bootstrap3_title %}{{ event.meta_title }}{% endblock %}
{% block bootstrap3_extra_head %}
    <meta name="author" content="Equipe Regional de Imagem e Comunicação">
    {% if event.meta_description %}
        <meta name="description" content="{{ event.meta_description }}"/>
    {% elif event.event_description_short %}
        <meta name="description" content="{{ event.event_description_short }}"/>
    {% else %}
        <meta name="description" content="Eventos, Escoteiros do Brasil - Rio Grande do Sul"/>
    {% endif %}
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://{{ request\.META.HTTP_HOST }}{{ event.get_absolute_url }}">
    <meta property="og:title" content="{{ event.event_title_menu }}">
    <meta property="og:description" content="{{ event.event_description_short }}">
    <meta property="og:image" content="http://{{ request.META.HTTP_HOST }}{{ event.get_event_social_image }}">

    <link href="http://fonts.googleapis.com/css?family=Raleway:100,200,400,600,800" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}events/css/home.css">
{% endblock %}

{% block bootstrap3_content %}
    {% block menu %}
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand visible-xs"
                       href="{{ event.get_absolute_url }}">{{ event.event_title_menu }}</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {% block menu-itens %}
                            <li>
                                <a class="navbar-brand hidden-xs" href="{{ event.get_absolute_url }}"
                                   title="{{ event.event_title_menu }}"
                                   alt="{{ event.event_title_menu }}">{{ event.event_title_menu }}</a>
                            </li>
                            {% for event_block in event.get_all_blocks_published %}
                                {% with event_block.block as block %}
                                {% if event_block.show_link_menu and event_block.is_published and block.is_published %}
                                    <li>
                                        <a href="#menu_{{ event_block.id }}" title="{{ block.title }}" class="navegacao-link">{{ block.title }}</a>
                                    </li>
                                {% endif %}
                                {% endwith %}
                            {% endfor %}
                        {% endblock %}
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}

    {% block header %}
        <header id="home" class="header"
                style="background: url({{ event.get_event_image_background }}) center center no-repeat;">
            <div class="wrapper" style="display: block;">
                <h1 class="logo">
                    <a class="logo-link" href="{{ event.get_absolute_url }}" title="{{ event.event_title|safe|striptags }}"
                       itemprop="name"
                       style="background: url({{ event.get_event_logo }}) no-repeat;">{{ event.event_title }}</a>
                </h1>
                <p class="evento-head">{{ event.event_title|safe }}</p>
                {% comment %}
                    <p class="evento-slogan">Inscrições encerradas!</p>
                    <p style="font-weight:bold; color:#FFF;">Confira a lista dos inscritos por base.</p>
                    <div style="width:100%; text-align:center;"><a href="relação-ramo-escoteiro.pdf" class="call-action-link" target="_blank">Ramo Escoteiro</a></div>
                {% endcomment %}
                <br>
            </div>
        </header>
    {% endblock header %}

    {% block content-sections %}
        {% for event_block in event.get_all_blocks_published %}
            {% with event_block.block as block %}
            {% if event_block.is_published and block.is_published %}
                {% if event_block.is_type_content %}
                {# BLOCOS DE EVENTOS #}
                <section class="section section-about" id="menu_{{ event_block.id }}">
                    <div class="wrapper">
                        <h2 class="section-title">{{ block.title }}</h2>
                        <div class="about-text" itemprop="description">
                            {{ block.get_content }}
                        </div>
                    </div>
                </section>
                {% elif event_block.is_type_programation %}
                    {# PROGRAMACOES DE EVENTO #}
                    <section class="section section-programacao" id="menu_{{ event_block.id }}">
                        <div class="wrapper">
                            <h2 class="section-title">{{ block.title }}</h2>
                            <div class="about-text" itemprop="description">
                                {{ block.content|safe }}
                            </div>
                        </div>

                        {% if event.get_all_programations_published %}
                            <div class="wrapper wrapper-programacao">

                                <ul class="programacao">
                                    {% with event.get_all_programations_published_by_date_time as context_programation %}

                                        {% for date_time in context_programation.list_dates %}
                                            {# MONTA O TITULO DA DATA #}
                                            <p><strong>{{ date_time }}</strong></p>
                                            {% with context_programation.list_programations|get_key:date_time as list_programations %}
                                                {% for programation in list_programations %}
                                                    {# MONTA A PROGRAMACAO #}
                                                    <li id="programacao-credenciamento" class="programacao-item programacao-item-other">
                                                        <div class="programacao-intro">
                                                            <div class="programacao-intro-board"><span
                                                                    class="programacao-time">{{ programation.date_time|time:'H:i' }}</span><img
                                                                    src="{{ MEDIA_URL }}{{ programation.image }}"
                                                                    class="programacao-image"/></div>
                                                        </div>
                                                        <div class="programacao-slot">
                                                            <div class="programacao-activity">{{ programation.title }}</div>
                                                            {% if programation.content %}
                                                                <p>{{ programation.content|safe }}</p>
                                                            {% else %}
                                                                <p>&nbsp;</p>
                                                            {% endif %}
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            {% endwith %}
                                        {% endfor %}
                                    {% endwith %}

                                </ul>
                            </div>
                            {% comment %}
                            <div class="wrapper">

                                    <ul class="programacao">

                                        {% regroup event.get_programation_list by date_time|date:'Y-m-d' as date_list %}
                                        {# agrupa somente pela data do campo date_time #}

                                        {% for date in date_list %}
                                            <p><strong>{{ date.list.0.date_time|date:"d \d\e F \d\e Y" }}</strong></p>
                                            {% for programation in date.list %}
                                                <li id="programacao-credenciamento" class="programacao-item programacao-item-other">
                                                    <div class="programacao-intro">
                                                        <div class="programacao-intro-board"><span
                                                                class="programacao-time">{{ programation.date_time|time:'H:i' }}</span><img
                                                                src="{{ MEDIA_URL }}{{ programation.image }}"
                                                                class="programacao-image"/></div>
                                                    </div>
                                                    <div class="programacao-slot">
                                                        <div class="programacao-activity">{{ programation.name }}</div>
                                                        {% if programation.content %}
                                                            <p>{{ programation.content|safe }}</p>
                                                        {% else %}
                                                            <p>&nbsp;</p>
                                                        {% endif %}
                                                        </div>
                                                </li>
                                            {% endfor %}
                                        {% endfor %}
                                    </ul>
                            </div>
                            {% endcomment %}
                        {% endif %}
                    </section>
                {% endif %}
            {% endif %}
            {% endwith %}
        {% endfor %}
    {% endblock %}

    <section class="section section-sponsors">
        <div class="wrapper">
            <h2 class="section-title" style="color:#FFF !important;">Realização</h2>
            <ul class="partners-list">
                <li class="partner-item" itemtype="http://schema.org/Organization">
                    <img src="{{ STATIC_URL }}events/img/escoteiros-do-brasil.png"
                         alt="Escoteiros do Brasil - Rio Grande do Sul" class="partner-logo" itemprop="image"/>
                </li>
            </ul>
        </div>
    </section>

    {% block footer %}
        <div class="footer">
            <div class="wrapper">
                <div class="credits"><a href="/equipes/comunicacao/"
                                        target="_blank">Equipe Regional de Imagem e Comunicação</a>
                </div>
            </div>
        </div>
    {% endblock %}

{% endblock %}

{% block bootstrap3_extra_script %}
    <script src="{{ STATIC_URL }}events/js/jquery.easing.min.js"></script>
    <script src="{{ STATIC_URL }}events/js/home.js"></script>
    <script type="text/javascript">
        Events.init();
        Events.war();
    </script>
    {% block extra_script %}
        <script type="text/javascript">
{#            loadScripts('maps.google.com/maps/api/js?sensor=false&callback=mapsAsyncInit');#}
        </script>
        {{ event.get_code }}
    {% endblock %}

    {% include "includes/footer_scripts.html" %}
{% endblock %}
