{% load mezzanine_tags %}

<div class="inner-banner">
{% if page.image %}
    <img src="{{ MEDIA_URL }}{% thumbnail page.image 1920 300 %}" alt="{{ page.title }}" title="{{ page.title }}">
{% else %}
    <div class="banner-default">

    </div>
{% endif %}
</div>
{% comment %}
        {% if page.children.count > 0 %}
            <div class="clearfix">
                <ul class="section">
                {% for child in page.children.all %}
                    <li><a href="{{ child.get_absolute_url }}">{{ child.title }}</a></li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
<img src="http://placehold.it/1920x300" alt="Banner">
{% endcomment %}
