{% load mezzanine_tags %}
{% if page.slide_set.count > 0 %}
<div class="banner">
    <ul class="slider clearfix">
        {% for slide in page.slide_set.all %}
            <li>
            {% if slide.image %}
                <img src="{{ MEDIA_URL }}{% thumbnail slide.image 1920 718 %}" alt="{{ slide.description }}" title="{{ slide.description }}">
            {% else %}
                <img src="http://placehold.it/1920x718" alt="Banner">
            {% endif %}
                <div class="text">
                    <p>
                        <a href="{{ slide.url }}" {{ slide.get_url_access_html }} class="link">{{ slide.description }}</a>
                    </p>
                </div>
            </li>
        {% endfor %}
    </ul>
    <div class="pagination"></div>
    <div class="nav-slider">
        <span class="prev btn ir">Anterior</span>
        <span class="next btn ir">Próximo</span>
    </div>
    <div class="mobile-pagination"></div>
</div>
{% endif %}