<style type="text/css">
@import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700);
html,
.banner .block-starwars {
  width: 100%;
  height: 100%;
  font: 700 1em "News Cycle", sans-serif;
  letter-spacing: .15em;
  color: #ff6;
  background: #000;
{#  overflow: hidden;#}
  margin: 0;
    position: relative;
}

.starwars section {
  position: absolute;
  top: 45%;
  left: 50%;
  z-index: 1;
}
.starwars .start {
  font-size: 200%;
  width: 14em;
  margin: -4em 0 0 -7em;
  text-align: center;
  cursor: pointer;
}
.starwars .start span {
  color: #4bd5ee;
}
.starwars .intro {
  width: 15em;
  margin: 0 0 0 -7.5em;
  font-size: 200%;
  font-weight: 400;
  color: #4bd5ee;
  opacity: 0;
  -webkit-animation: intro 6s ease-out 1s;
          animation: intro 6s ease-out 1s;
}
.starwars .logo {
  opacity: 0;
  -webkit-animation: logo 9s ease-out 9s;
          animation: logo 9s ease-out 9s;
}
.starwars .logo svg {
  width: inherit;
}
.starwars .titles {
  width: 14.65em;
  margin: 0 0 0 -7.325em;
  top: auto;
  bottom: 0;
  height: 50em;
  font-size: 350%;
  text-align: justify;
  overflow: hidden;
  -webkit-transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -ms-transform: perspective(300px) rotateX(25deg);
  -webkit-transform: perspective(300px) rotateX(25deg);
  transform: perspective(300px) rotateX(25deg);
}
.starwars .titles > div {
  position: absolute;
  top: 100%;
  /*-webkit-animation: titles 30s linear 13s;
          animation: titles 30s linear 13s;*/
  -webkit-animation: titles 1000s linear 13s;
        animation: titles 1000s linear 13s;
}
.starwars .titles > div > p {
  margin: 1.35em 0 1.85em 0;
  line-height: 1.35em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@-webkit-keyframes intro {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes logo {
  0% {
    width: 18em;
    margin: -9em 0 0 -9em;
    -ms-transform: scale(2.75);
    -webkit-transform: scale(2.75);
    transform: scale(2.75);
    opacity: 1;
  }
  50% {
    opacity: 1;
    width: 18em;
    margin: -9em 0 0 -9em;
  }
  100% {
    -ms-transform: scale(0.1);
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0;
    width: 18em;
    margin: -9em 0 0 -9em;
  }
}
@keyframes logo {
  0% {
    width: 18em;
    margin: -9em 0 0 -9em;
    -ms-transform: scale(2.75);
    -webkit-transform: scale(2.75);
    transform: scale(2.75);
    opacity: 1;
  }
  50% {
    opacity: 1;
    width: 18em;
    margin: -9em 0 0 -9em;
  }
  100% {
    -ms-transform: scale(0.1);
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0;
    width: 18em;
    margin: -9em 0 0 -9em;
  }
}
@-webkit-keyframes titles {
  0% {
    top: 100%;
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    top: 20%;
    opacity: 0;
  }
}
@keyframes titles {
  0% {
    top: 100%;
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    /*top: 20%; */
    top: -600%;
    opacity: 0;
  }
}

block-starwars .center {
    text-align: center;
}
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<article class="starwars">
  <audio preload="auto">
    <source src="http://s.cdpn.io/1202/Star_Wars_original_opening_crawl_1977.ogg" type="audio/ogg" />
    <source src="http://s.cdpn.io/1202/Star_Wars_original_opening_crawl_1977.mp3" type="audio/mpeg" />
  </audio>

  <section class="start">
    <p>
      <br> <span>#aForçaDespertou</span> <br>
	  Iniciar
      <br>
      <!-- <span>---</span> -->
    </p>
  </section>

  <div class="animation">

  <section class="intro">
	 "Você não pode impedir as mudanças, assim como não pode impedir o pôr-do-sol."
    <!-- A long time ago, in a galaxy far,<br> far away.... -->
  </section>

  <section class="titles">
    <div contenteditable="true" spellcheck="false">
      <p>
        A Força foi forte este ano, acompanhe a retrospectiva de 2015 dos Escoteiros do Brasil - Rio Grande do Sul.
      </p>

	  <!--
	  ICONES
	  <i class="fa fa-rebel"></i>
  	  <i class="fa fa-empire"></i>
	  <i class="fa fa-rocket"></i>
	  <i class="fa fa-fighter-jet"></i>
	  <i class="fa fa-users"></i>
	  <i class="fa fa-calendar"></i>
	-->
	<p class="center">
		<i class="fa fa-rebel"></i> Congresso e Assembleia Regional Escoteira<br>
	</p>
	<p>
		<i class="fa fa-rebel"></i> Fórum Regional de Jovens Líderes <br>
		<i class="fa fa-fighter-jet"></i> Santa Maria <br>
		<i class="fa fa-calendar"></i> 28/01 e 02/02 <br>
		<i class="fa fa-users"></i> 400 participantes <br>
	</p>
	<img src="{{ STATIC_URL }}/institution/img/starwars/01_congresso_regional_min.jpg" />

	<p class="center">
		<i class="fa fa-rebel"></i> INDABA regional da Modalidade do Ar<br>
	</p>
	<p>
		<i class="fa fa-fighter-jet"></i> Santa Maria <br>
		<i class="fa fa-calendar"></i> 28/02 <br>
		<i class="fa fa-users"></i> 22 participantes <br>
	</p>
	<img src="{{ STATIC_URL }}institution/img/starwars/modalidade_ar_min.png" style="width:180px; margin: 0 auto 0 auto; display: block;" />

	<p class="center">
		<i class="fa fa-rebel"></i> Campanha #sejaescoteiro<br>
	</p>
	<p>
		<i class="fa fa-fighter-jet"></i> Rio Grande do Sul <br>
		<i class="fa fa-calendar"></i> 21/3 a 11/4<br>
	</p>
	<img src="{{ STATIC_URL }}institution/img/starwars/campanha_seja_escoteiro_min.png" style="width:400px; margin: 0 auto 0 auto; display: block;" />

	<p class="center">
		<i class="fa fa-rebel"></i> Aerocampo Sul <br>
	</p>
	<p>
		<i class="fa fa-fighter-jet"></i> Santo Ângelo <br>
		<i class="fa fa-calendar"></i> 01/5 e 02/5 <br>
		<i class="fa fa-users"></i> 88 participantes <br>
	</p>
	<img src="{{ STATIC_URL }}institution/img/starwars/aero_campo_sul_min.png" style="width:400px; margin: 0 auto 0 auto; display: block;" />

	<p class="center">
		<i class="fa fa-rebel"></i> ALEMUT - XXXVII Mutirão Regional Pioneiro <br>
	</p>
	<p>
		<i class="fa fa-fighter-jet"></i> Estância Velha <br>
		<i class="fa fa-calendar"></i> 16/5 e 17/5 <br>
		<i class="fa fa-users"></i> 88 participantes <br>
	</p>
	<img src="{{ STATIC_URL }}institution/img/starwars/alemut_min.jpg" style="margin: 0 auto 0 auto; display: block;" />

	<p class="center">
		<i class="fa fa-rebel"></i> Vigília Regional Pioneira <br>
	</p>
	<p>
		<i class="fa fa-fighter-jet"></i> Rio Grande do Sul <br>
		<i class="fa fa-calendar"></i> 27/6 <br>
	</p>
	<img src="{{ STATIC_URL }}institution/img/starwars/ramo_pio_min.png" style="margin: 0 auto 0 auto; display: block;" />

	<p class="center">
		<i class="fa fa-rebel"></i> XXXIX Fórum Regional Pioneiro e VII Fórum Regional de Mestres <br>
	</p>
	<p>
		<i class="fa fa-fighter-jet"></i> Tapejara <br>
		<i class="fa fa-calendar"></i> 04/7 e 05/7 <br>
		<i class="fa fa-users"></i> 175 participantes <br>
	</p>
	<img src="{{ STATIC_URL }}institution/img/starwars/forum_pio_tapejara_min.jpg" style="margin: 0 auto 0 auto; display: block;" />

	<p class="center">
		<i class="fa fa-rebel"></i> ERESCOT - Encontro Regional de Escotistas do Ramo Escoteiro<br>
	</p>
	<p>
		<i class="fa fa-fighter-jet"></i> Porto Alegre <br>
		<i class="fa fa-calendar"></i> 11/7 e 12/7 <br>
		<i class="fa fa-users"></i> 19 participantes <br>
	</p>
	<img src="{{ STATIC_URL }}institution/img/starwars/logo_ramo_escoteiro_min.png" style="width:259px; margin: 0 auto 0 auto; display: block;" />

	<p class="center">
		<i class="fa fa-rebel"></i> Encontro Regional de Jovens Líderes <br>
	</p>
	<p>
		<i class="fa fa-fighter-jet"></i> Caxias do Sul <br>
		<i class="fa fa-calendar"></i> 29/8 e 30/8 <br>
		<i class="fa fa-users"></i> 45 participantes <br>
	</p>
	<img src="{{ STATIC_URL }}institution/img/starwars/encontro_regional_jovens_lideres_min.jpg" style="margin: 0 auto 0 auto; display: block;" />

	<p class="center">
		<i class="fa fa-rebel"></i> ERCHES - Encontro Regional de Escotistas do Ramo Sênior <br>
	</p>
	<p>
		<i class="fa fa-fighter-jet"></i> Flores da Cunha <br>
		<i class="fa fa-calendar"></i> 26/9 e 27/9 <br>
		<i class="fa fa-users"></i> 73 participantes <br>
	</p>
	<img src="{{ STATIC_URL }}institution/img/starwars/erches_min.jpg" style="margin: 0 auto 0 auto; display: block;" />

	<p class="center">
		<i class="fa fa-rebel"></i> XXIII OLIMPIO - Olimpíadas Pioneiras <br>
	</p>
	<p>
		<i class="fa fa-fighter-jet"></i> Canoas <br>
		<i class="fa fa-calendar"></i> 26/9 e 27/9 <br>
		<i class="fa fa-users"></i> 210 participantes <br>
	</p>
	<img src="{{ STATIC_URL }}institution/img/starwars/olimpio_canoas_min.jpg" style="margin: 0 auto 0 auto; display: block;" />

	<p class="center">
		<i class="fa fa-rebel"></i> III AGAARS <br>
	</p>
	<p>
		<i class="fa fa-fighter-jet"></i> Lajeado <br>
		<i class="fa fa-calendar"></i> 31/10, 01/11 e 02/11 <br>
		<i class="fa fa-users"></i> 1.303 participantes <br>
	</p>
	<img src="{{ STATIC_URL }}institution/img/starwars/agaars_01_min.jpg" style="margin: 0 auto 0 auto; display: block;" />
	<br>
	<img src="{{ STATIC_URL }}institution/img/starwars/agaars_02_min.jpg" style="margin: 0 auto 0 auto; display: block;" />

	<p class="center">
		<i class="fa fa-rebel"></i> MUTFOOD - XXXVIII Mutirão Regional Pioneiro <br>
	</p>
	<p>
		<i class="fa fa-fighter-jet"></i> Santa Cruz <br>
		<i class="fa fa-calendar"></i> 21/11 e 22/11 <br>
		<i class="fa fa-users"></i> 452 participantes <br>
	</p>
	<img src="{{ STATIC_URL }}institution/img/starwars/mutfood_min.jpg" style="margin: 0 auto 0 auto; display: block;" />
	<br>
	<img src="{{ STATIC_URL }}institution/img/starwars/mutfood_festa_min.jpg" style="margin: 0 auto 0 auto; display: block;" />


      </div>
  </section>

  <section class="logo">
	  	<img src="{{ STATIC_URL }}institution/img/starwars/logo_vertical_min.png" style="width:200px;background: transparent;" />
  </section>
  </div>
</article>

<script type="text/javascript">
StarWars = (function() {
  /*
   * Constructor
   */
  function StarWars(args) {
    // Context wrapper
    this.el = $(args.el);

    // Audio to play the opening crawl
    this.audio = this.el.find('audio').get(0);

    // Start the animation
    this.start = this.el.find('.start');

    // The animation wrapper
    this.animation = this.el.find('.animation');

    // Remove animation and shows the start screen
    this.reset();

    // Start the animation on click
    this.start.bind('click', $.proxy(function() {
      this.start.hide();
      this.audio.play();
      this.el.append(this.animation);
    }, this));

    // Reset the animation and shows the start screen
    $(this.audio).bind('ended', $.proxy(function() {
      this.audio.currentTime = 0;
      this.reset();
    }, this));
  }

  /*
   * Resets the animation and shows the start screen.
   */
  StarWars.prototype.reset = function() {
    this.start.show();
    this.cloned = this.animation.clone(true);
    this.animation.remove();
    this.animation = this.cloned;
  };

  return StarWars;
})();

new StarWars({
  el : '.starwars'
});
</script>