{% extends "blog/blog_post_list.html" %}
{% load mezzanine_tags comment_tags keyword_tags rating_tags i18n future disqus_tags rover_core %}

{% block meta_title %}{{ blog_post.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for blog_post as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ blog_post.description }}
{% endmetablock %}{% endblock %}

{# Facebook #}
{% block social_title %}{{ blog_post.title }}{% endblock %}
{% block social_image %}{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ MEDIA_URL }}{{ blog_post.featured_image }}{% endblock social_image %}">
{% block social_description %}{{ blog_post.description }}{% endblock social_description %}

{% block page_banner %}
    <div class="inner-banner">
    {% block blog_post_detail_image_top %}
        {% if blog_post.image_top %}
            <img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail blog_post.image_top 1920 300 %}">
        {% else %}
            <div class="banner-default"></div>
        {% endif %}
    {% endblock %}
    </div>
{% endblock page_banner %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li id="breadcrumb-menu-{{ blog_post.id }}" class="active">{{ blog_post.title }}</li>
{% endblock %}

{% block main %}

    {% block title %}
        {% editable blog_post.title %}<h2>{{ blog_post.title }} <span class="titles-bgs"></span></h2>{% endeditable %}
    {% endblock %}

    {# CONTEUDO ########################################################### #}
        <div class="notice">
            {% if blog_post.description and blog_post.description != blog_post.title %}
                <strong class="description-notice">{{ blog_post.description|safe }}</strong>
            {% endif %}
{#            <p class="date">{% blocktrans with sometime=blog_post.publish_date|date:'d/m/Y \à\s H:i ' %}Publicado em {{ sometime }}{% endblocktrans %}</p>#}
            <p class="date">
                {% blocktrans with sometime=blog_post.publish_date_post %}{{ sometime }}{% endblocktrans %}<br>
            {% trans "por" %}
                {% with blog_post.user as author %}
                <a href="{% url "blog_post_list_author" author %}">{{ author.get_full_name|default:author.username }}</a>
            {% endwith %}
            </p>

            <div class="text">
                {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
                    <img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 460 260 %}">
                {% endif %}

                {% block blog_post_detail_content %}
                    {% editable blog_post.content %}
                        {{ blog_post.content|richtext_filters|safe }}
                    {% endeditable %}
                {% endblock %}
            </div>

        <div class="related clearfix tags">
            <div class="links">
                <strong>{% trans "Categoria" %}</strong>
                <ul>
                {% for category in blog_post.categories.all %}
                    <li><a class="link" href="{% url "blog_post_list_category" category.slug %}"><span class="titles-bgs buss"></span> {{ category }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>

{% block blog_post_detail_keywords %}
    {% keywords_for blog_post as tags %}
    {% if tags %}
    {% spaceless %}
        <div class="related clearfix tags">
            <div class="links">
                <strong>{% trans "Tags" %}</strong>
                <ul>
                {% for tag in tags %}
                    <li><a class="link" href="{% url "blog_post_list_tag" tag.slug %}"><span class="titles-bgs buss"></span> {{ tag }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    {% endspaceless %}
    {% endif %}
{% endblock %}

        {% comment %}
            <div class="related clearfix">
                <div class="links">
                    <strong>Links relacionados</strong>
                    <ul>
                        <li><a href="javascript:void(0);">Lorem ipsum dolor.</a></li>
                        <li><a href="javascript:void(0);">Lorem ipsum dolor.</a></li>
                        <li><a href="javascript:void(0);">Lorem ipsum dolor.</a></li>
                    </ul>
                </div>
                <div class="files">
                    <strong>Arquivos relacionados</strong>
                    <a href="javascript:void(0);">Lorem ipsum dolor.</a>
                    <a href="javascript:void(0);">Lorem ipsum dolor.</a>
                    <a href="javascript:void(0);">Lorem ipsum dolor.</a>
                </div>
            </div>
        {% endcomment %}

        {% block blog_post_previous_next %}
            <div class="other-news">
                <ul class="list-news clearfix">
                {% with blog_post.get_previous_by_publish_date as previous %}
                {% if previous %}
                    <li>
                        <a href="{{ previous.get_absolute_url }}" class="back-list btn-style" alt="{% trans 'Anterior' %} - {{ previous.title|safe }}" title="{% trans 'Anterior' %} - {{ previous.title|safe }}">
                            <span>{{ previous.title|crop_text:35 }}</span><i class="btn"></i>
                        </a>
                    </li>
                {% else %}
                    <li>
                    </li>
                {% endif %}
                {% endwith %}
                {% with blog_post.get_next_by_publish_date as next %}
                {% if next %}
                    <li class="last">
                        <a href="{{ next.get_absolute_url }}" class="back-list next-list btn-style last" alt="{% trans 'Anterior' %} - {{ next.title|safe }}" title="{% trans 'Anterior' %} - {{ next.title|safe }}">
                            <span>{{ next.title|crop_text:35 }}</span><i class="arrow btn"></i>
                        </a>
                    </li>
                {% else %}
                    <li>
                    </li>
                {% endif %}
                {% endwith %}
                </ul>
            </div>
        {% endblock %}

        </div>
        <div class="comments">
            {% block blog_post_detail_comments %}
                {% if blog_post.allow_comments %}{% comments_for blog_post %}{% endif %}
            {% endblock %}
            {% comment %}<script type="text/javascript">
                var disqus_shortname = 'matheusazzi',
                disqus_url = 'http://www.matheusazzi.com/blog/criando-aplicacoes-com-node/';

                (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            {% endcomment %}
        </div>

{% block blog_post_detail_related_posts %}
    {% if blog_post.related_posts.all %}
        <div class="other-news">
            <strong>{% trans "Notícias Relacionadas" %}</strong>
            <ul class="list-news clearfix">
            {% for post in blog_post.related_posts.all %}
                <li class="{% cycle '' 'last' %}">
                    <a href="{{ post.get_absolute_url }}">
                        {% if settings.BLOG_USE_FEATURED_IMAGE and post.featured_image %}
                            <img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail post.featured_image 460 260 %}">
                        {% else %}
                            <img class="img-responsive" src="http://placehold.it/460x260" alt="Notícias">
                        {% endif %}
                    </a>
                    <div class="text">
                        <div class="aux post-meta">
                            <span>{% blocktrans with sometime=post.publish_date_post_list %}{{ sometime }}{% endblocktrans %}</span>
                            <p>
                                {{ post.title }}<br>
                            </p>
                        </div>
                    </div>
                    <a href="{{ post.get_absolute_url }}" class="detail btn-style"><span>Ver detalhe da notícia</span><i class="arrow btn"></i></a>
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

    {% comment %}
        <a href="noticias.html" class="back-list btn-style"><span>Voltar para a lista de notícias</span><i class="btn"></i></a>
    {% endcomment %}
    {# FIM CONTEUDO ####################################################### #}



{% comment %}
    {% block blog_post_detail_postedby %}
        {% editable blog_post.publish_date %}
        <h6 class="post-meta">
            {% trans "Posted by" %}:
            {% with blog_post.user as author %}
            <a href="{% url "blog_post_list_author" author %}">{{ author.get_full_name|default:author.username }}</a>
            {% endwith %}
            {% blocktrans with sometime=blog_post.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}
        </h6>
        {% endeditable %}
    {% endblock %}
    {% block blog_post_detail_commentlink %}
    <p>
        {% if blog_post.allow_comments %}
            {% if settings.COMMENTS_DISQUS_SHORTNAME %}
                (<a href="{{ blog_post.get_absolute_url }}#disqus_thread"
                    data-disqus-identifier="{% disqus_id_for blog_post %}">{% spaceless %}
                    {% trans "Comments" %}
                {% endspaceless %}</a>)
            {% else %}(<a href="#comments">{% spaceless %}
                {% blocktrans count comments_count=blog_post.comments_count %}{{ comments_count }} comment{% plural %}{{ comments_count }} comments{% endblocktrans %}
                {% endspaceless %}</a>)
            {% endif %}
        {% endif %}
    </p>
    {% endblock %}
{% endcomment %}


{% comment %}
    {% if settings.COMMENTS_DISQUS_SHORTNAME %}
    {% include "generic/includes/disqus_counts.html" %}
    {% endif %}

    {% block blog_post_detail_content %}
    {% editable blog_post.content %}
    {{ blog_post.content|richtext_filters|safe }}
    {% endeditable %}
    {% endblock %}
{% endcomment %}

{% comment %}
{% block blog_post_detail_keywords %}
    {% keywords_for blog_post as tags %}
    {% if tags %}

    {% spaceless %}
    <ul class="list-inline tags">
        <li>{% trans "Tags" %}:</li>
        {% for tag in tags %}
        <li><a href="{% url "blog_post_list_tag" tag.slug %}">{{ tag }}</a></li>
        {% endfor %}
    </ul>
    {% endspaceless %}
    {% endif %}
{% endblock %}
{% endcomment %}

{% comment %}
    {% block blog_post_detail_rating %}
        <div class="panel panel-default rating">
            <div class="panel-body">
            {% rating_for blog_post %}
            </div>
        </div>
    {% endblock %}
{% endcomment %}

{% comment %}
{% block blog_post_detail_sharebuttons %}
    {% set_short_url_for blog_post %}
    <a class="btn btn-sm share-twitter" target="_blank" href="http://twitter.com/home?status={{ blog_post.short_url|urlencode }}%20{{ blog_post.title|urlencode }}">{% trans "Share on Twitter" %}</a>
    <a class="btn btn-sm share-facebook" target="_blank" href="http://facebook.com/sharer.php?u={{ request.build_absolute_uri }}&amp;t={{ blog_post.title|urlencode }}">{% trans "Share on Facebook" %}</a>
{% endblock %}
{% endcomment %}

{% comment %}
    {% block blog_post_previous_next %}
        <ul class="pager">
        {% with blog_post.get_previous_by_publish_date as previous %}
        {% if previous %}
        <li class="previous">
            <a href="{{ previous.get_absolute_url }}">&larr; {{ previous }}</a>
        </li>
        {% endif %}
        {% endwith %}
        {% with blog_post.get_next_by_publish_date as next %}
        {% if next %}
        <li class="next">
            <a href="{{ next.get_absolute_url }}">{{ next }} &rarr;</a>
        </li>
        {% endif %}
        {% endwith %}
        </ul>
    {% endblock %}
{% endcomment %}

{% comment %}
{% block blog_post_detail_related_posts %}
{% if blog_post.related_posts.all %}
<div id="related-posts">
<h3>{% trans 'Related posts' %}</h3>
<ul class="list-unstyled">
{% for post in blog_post.related_posts.all %}
     <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
</div>
{% endif %}
{% endblock %}
{% endcomment %}

{% endblock %}
