<!doctype html>
<!--[if lt IE 7]> <html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %} class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %} class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %} class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %} class="no-js">
{% load pages_tags mezzanine_tags i18n future staticfiles %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="all">
    <meta name="rating" content="general">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <meta name="author" content="">
    <meta name="Publisher" content="">
    <meta name="owner" content="">
    <meta name="copyright" content="">
    <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>

    {# Icons #}
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{{ STATIC_URL }}institution/img/touch/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{{ STATIC_URL }}institution/img/touch/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{{ STATIC_URL }}institution/img/touch/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed"
          href="{{ STATIC_URL }}institution/img/touch/apple-touch-icon-57x57-precomposed.png">
    <link rel="shortcut icon" href="{{ STATIC_URL }}institution/img/favicon.ico">
    <link rel="dns-prefetch" href="//ajax.googleapis.com">
    <meta name="msapplication-TileImage"
          content="{{ STATIC_URL }}institution/img/touch/apple-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#222222">
    {# iOS Web Apps #}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="">
    {# Facebook #}
    <meta property="og:title" content="{% block social_title %}{{ settings.SITE_TITLE }}{% endblock %}">
    <meta property="og:site_name" content="{% block social_site_name %}{{ settings.SITE_TITLE }}{% endblock social_site_name %}">
    <meta property="og:url" content="{% block social_url %}{{ request.build_absolute_uri }}{% endblock social_url %}">
    <meta property="og:image" content="{% block social_image %}{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ STATIC_URL }}institution/img/logo_escoteiros_rs.png{% endblock social_image %}">
    <meta property="og:type" content="{% block social_type %}website{% endblock social_type %}">
    <meta property="og:description" content="{% block social_description %}{{ page.description }}{% endblock social_description %}">
    <link rel="canonical" href="">
    {# {% bootstrap_css %} #}
    {% compress css %}
    {% block head_begin %}
    {% endblock head_begin %}
    <link rel="stylesheet" href="{{ STATIC_URL }}institution/css/index.css">
    {% ifinstalled cartridge.shop %}
    <link rel="stylesheet" href="{% static "css/cartridge.css" %}">
    {% if LANGUAGE_BIDI %}
    <link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
    {% endif %}
    {% endifinstalled %}
    {% block extra_css %}{% endblock %}
    {% endcompress %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tahoma">

    {% block extra_head_css %}

    {% endblock extra_head_css %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}institution/js/vendor/jquery.js"><\/script>')</script>

    {% compress js %}
    <script src="{{ STATIC_URL }}institution/js/vendor/modernizr.js"></script>
    {% endcompress %}
    {% ifinstalled mezzanine.blog %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url 'blog_post_feed' 'rss' %}">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url 'blog_post_feed' 'atom' %}">
    {% endifinstalled %}

    {% compress js %}
    <script src="{% static 'mezzanine/js/'|add:settings.JQUERY_FILENAME %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap-extras.js' %}"></script>
    {% block extra_js %}{% endblock %}
    {% endcompress %}
    <!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv.js' %}"></script>
    <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->
    {% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}" class="{% block body_class %}{% endblock body_class %}">
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1032068476884666',
          xfbml      : true,
          version    : 'v2.6'
        });
      };
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/pt_BR/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
   <div id="loader-bg">
        <div id="loader-canvas">
            <div class="loading"></div>
        </div>
        <span id="loader-percent"></span>
    </div>

    <!--[if lt IE 10]>
        <p class="browsehappy">Você está usando um navegador <strong>desatualizado</strong>. Por favor, <a href="http://browsehappy.com/">atualize seu navegador</a> para uma melhor experiência.</p>
    <![endif]-->
{#    {% include 'institution/header.html' %}#}

   <header id="header" role="banner">
        <ul class="nav-sections clearfix">
            <li class="wanna-be"><a href="http://sejaescoteiro.org.br/" target="_blank">Quero ser Escoteiro<span class="blt"></span></a></li>
            <li class="institutional selected"><a href="{% url 'home' %}">Institucional<span
                    class="blt"></span></a></li>
            <li><a href="http://sigue.escoteiros.org.br/" target="_blank">Sigue<span class="blt"></span></a></li>
            {% comment %}
            <li><a href="http://sigue.escoteiros.org.br/" target="_blank">Sou Escoteiro<span class="blt"></span></a></li>
            {% endcomment %}
        </ul>
        <nav class="menu" role="navegation">
            <h1 class="logo">
                <a href="{% url 'home' %}" class="ir">Escoteiros do Brasil - Rio Grande do Sul</a>
                {% comment %}
                <img src="{{ STATIC_URL }}institution/img/logo.png" class="img-responsive" />
                {% endcomment %}
            </h1>
            {% search_form "all" %}
            <button class="btn-menu"><span></span></button>
            {% page_menu "pages/menus/dropdown.html" %}

        </nav>
    </header>

    <main id="main" role="main" class="{% block main_class %}{% endblock main_class %}">
        {% nevercache %}
            {% if messages %}
                <div class="messages">
                {% for message in messages %}
                <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                </div>
                {% endfor %}
                </div>
            {% endif %}
        {% endnevercache %}

        {% block content_main %}
            {% block main %}

            {% endblock main %}
        {% endblock content_main %}
    </main>
    {% include 'institution/footer.html' %}
<script src="{{ STATIC_URL }}institution/js/vendor/jquery.queryloader2.min.js"></script>
<script src="/static/institution/js/vendor/plugins.min.js"></script>
<script src="/static/institution/js/_basico.js"></script>
<script src="/static/institution/js/index.js"></script>
{% block end_scripts %}

{% include "includes/footer_scripts.html" %}
{% endblock end_scripts %}
</body>
</html>